*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 50%;
    height: 100vh;
    background-image: url(images/ph2.png);
    background-size: cover;
    background-position: right center;
    margin-left: auto;
}


nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 50px;
  position: absolute;
  top: 0;
  left: 0;
}

/* Logo */
.logo {
  width: 500px;
  height: auto;
  margin-right: 100px; 
  cursor: pointer;
}

/* Nav links */
nav ul {
  list-style: none;
  display: flex;
  gap: 100px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 70px;  
  font-weight: 500;  
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #00bcd4; 
}

.name {
  color: #00bcd4;
}




/* Position text inside left black space */
.header-text {
  position: absolute; 
  top: 50%; 
  left: 10%; 
  transform: translateY(-50%); 
  color: white; 
  max-width: 40%; 
}

.header-text h1 {
  font-size: 15rem;
  margin-top: 10px;
}

.header-text p {
  font-size: 8rem;
}




